.ax_default {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#333333;
  text-align:center;
  line-height:normal;
}
.shape {
}
.ellipse {
}
.heading_1 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:32px;
  text-align:left;
}
.heading_2 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:24px;
  text-align:left;
}
.heading_3 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:18px;
  text-align:left;
}
.heading_4 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:14px;
  text-align:left;
}
.heading_5 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  text-align:left;
}
.heading_6 {
  font-family:'Arial';
  font-weight:bold;
  font-style:normal;
  font-size:10px;
  text-align:left;
}
.paragraph {
  text-align:left;
}
.line {
}
.radio_button {
  text-align:left;
}
.paragraph1 {
  font-size:14px;
  color:#000000;
  text-align:left;
  line-height:19px;
}
.image {
  font-size:13px;
  color:#000000;
}
.shape1 {
  font-size:14px;
  color:#000000;
}
.link_style {
  font-size:14px;
  color:#00CCFF;
}
.horizontal_line {
}
.text_field {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.droplist {
  font-size:13px;
  color:#000000;
  text-align:left;
}
.shape2 {
  font-size:13px;
  color:#000000;
}
.button_style {
  color:#FFFFFF;
}
.vertical_line {
}
.icon {
}
.paragraph2 {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
  text-align:left;
}
.shape3 {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#000000;
}
.image1 {
  font-family:'Helvetica Neue Regular', 'Helvetica Neue';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.axuretraining {
  font-family:'Arial';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#666666;
  text-align:left;
  line-height:24px;
}
.shape4 {
  font-size:14px;
}
.html_button {
  color:#000000;
}
.image2 {
  font-family:'Arial';
  font-weight:normal;
  font-style:normal;
  font-size:13px;
  color:#000000;
}
.paragraph3 {
  font-size:16px;
  color:#000000;
  text-align:left;
  line-height:27px;
}
.paragraph4 {
  font-size:16px;
  color:#000000;
  text-align:left;
}
.subheader {
  font-family:'Roboto Regular', 'Roboto';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:rgba(0, 0, 0, 0.866666666666667);
}
.flow_shape {
}
.link_button {
  color:#169BD5;
}
